/******* Main styles ******/
body {
  font-family: 'Droid Sans', sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

p {
  padding: 10px;
  max-width: 800px;
  margin: auto;
  font-size: 20px;
  line-height: 2;
}

span {
  text-align: center;
}

nav {
  font-size: 20px;
  text-align: right;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 25px;
  background-color: #3dd0ac;
    }

button {
  margin-bottom: 100px;
  background-color: white;
  border-radius: 15px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  border: none;
}

a {
  color: black;
  text-decoration:none;
}

a:hover {
color: gray;
}

#brackets {
  color: white;
  top: 0;
  position: fixed;
  font-family: 'Josefin Slab', serif;
  font-size: 25px;
  padding: 25px;
  z-index: 2;
}

#brackets a{
  color: white;
}

#brackets a:hover {
color: gray;
}

#myName {
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
  margin-top: 300px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#commaSign{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

/******* Home page styles ******/
#secretP {
  padding: 100px;
  color: white;
}

#who-nav{
  padding-right: 25px;
}

#projects-nav{
  padding-right: 25px;
}

#hellogif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 3s ease;
}

.content-links{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 40px;
}

.content-btns{
   color: white;
   text-align: center;
   font-size: 30px;
   opacity: 1;
   padding: 20px;
   border-radius: 15px;
 }

.one {
   background-color: #9b59b6;
 }

.two {
  background-color: #16a085;
  }

.three {
  background-color: #e74c3c;
}

/******* Project styles ******/
.projectP {
  padding-top: 30px;
  padding-bottom: 120px;
}

.textLink {
 color: #9b59b6;
}

.textLink:hover{
  color: gray;
}

img[src*="cryptomonitor"]{
  border: 0.5px solid lightgrey;
}

/******* About me styles ******/
.gif{
  display: block;
  margin: 0 auto;
}

/******* Contact styles ******/
#download-button{
  background-color: #3dd0ac;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  width: 15%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

#contactDiv {
text-align: center;
padding-bottom: 50px;
}

#fb{
  padding: 20px;
  width: 60px;
  height: auto;
}

#linkedin{
  padding: 20px;
}

#github{
  padding: 20px;
}

/******* CSS animations ******/
.fade {
  opacity:1;
}

.fade:hover {
  opacity:0.5;
}

.grow {
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

/******* Media queries ******/
@media (max-width: 1024px) {
  nav {
    font-size: 40px;
    text-align: center;
  }

  p {
    font-size: 35px;
  }

  #brackets {
    display: none;
  }

  #scrollButton {
    display: none;
  }

  .content-links{
    width: 60%;
  }

}

@media (min-width: 700px) and (orientation: landscape) {
  #brackets {
    font-size: 35px;
    display: block;
  }

  nav {
    font-size: 35px;
    text-align: right;
  }
}

@media (min-width: 1120px) {
  .content-links {
    width: 80%;
  }

  .content-btns {
    width: 30%;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 20px;
  }

}

@media (min-width: 1920px) {
  #scrollDown {
    padding-bottom: 100px;
  }

}
