body {
  font-family: 'Droid Sans', sans-serif;
}

#beta{
  position: absolute;
  background: black;
  color: white;
  border-radius: 10px;
  margin-top: -190px;
  margin-left: 20px;
  padding: 10px;
}

#border {
  padding: 10px;
  margin-top: -8px;
  width: 100%;
  background-color: #8e44ad;
}

nav {
  font-size: 18px;
  text-align: right;
  padding: 10px;
    }

#myName {
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
  padding: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

h1{
    text-align: center;
}

p {
padding: 10px;
max-width: 800px;
margin: auto;
font-size: 20px;
line-height: 2;
}

.projectP {
  padding-top: 30px;
  padding-bottom: 120px;
}

span {
  text-align: center;
}

#bookLink {
 color: #5cb897;
}

#bookLink:hover{
  color: gray;
}

a {
  color: black;
  text-decoration:none;
}

a.bookLink {
  color: gray;
}

a:hover {
color: gray;
}

.content-pics{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 40px;
}

.fade {
  opacity:1;
}

.fade:hover {
  opacity:0.5;
}

#meText {
   color: white;
   font-size: 40px;
   position: absolute;
   margin-top: -60px;
   margin-left: 15px;
   opacity: 1;
 }

#projectsText {
  color: white;
  font-size: 40px;
  position: absolute;
  margin-top: -60px;
  margin-left: 15px;
  opacity: 1;
}

#contactText {
  color: black;
  font-size: 40px;
  position: absolute;
  margin-top: -60px;
  margin-left: 15px;
  opacity: 1;
}

#gif-div{
  width: 33%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contactDiv {
text-align: center;
}

#download-button{
  background-color: #5cb897;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.grow {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

@media screen and (max-width: 1000px) {
    .content-pics {
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
      font-size: 80px;
    }

    p{
      font-size: 40px;
    }

    #meText {
       color: white;
       font-size: 40px;
       position: absolute;
       margin-bottom: 350%;
       opacity: 1;
     }

    #projectsText {
      color: white;
      font-size: 40px;
      position: absolute;
      margin-left: 8%;
      margin-bottom: 180%;
      opacity: 1;
    }

    #contactText {
      color: black;
      font-size: 40px;
      position: absolute;
      margin-left: 8%;
      opacity: 1;
    }

    #email {
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #phone {
      width: 8%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #linkedin {
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
    }

    #fb {
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
    }

    #github {
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}

@media screen and (min-width: 1920px) {
  #meText {
     color: white;
     font-size: 40px;
     position: absolute;
     margin-bottom: 350%;
     margin-left: -2%;
     opacity: 1;
   }

  #projectsText {
    color: white;
    font-size: 40px;
    position: absolute;
    margin-left: 0%;
    margin-bottom: 180%;
    opacity: 1;
  }

  #contactText {
    color: black;
    font-size: 40px;
    position: absolute;
    margin-left: 2%;
    opacity: 1;
  }
}
